{% extends 'base.html.twig' %}

{% block title %}New Bear{% endblock %}

{% block body %}
    <h1>Create new Bear</h1>

    {{ include('bear/_form.html.twig') }}

    <a href="{{ path('bear_index') }}">back to list</a>
{% endblock %}
