{% extends 'base.html.twig' %}

{% block title %}Bear{% endblock %}

{% block body %}
    <h1>Bear</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bear.id }}</td>
            </tr>
            <tr>
                <th>Alchool</th>
                <td>{{ bear.alchool }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bear.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bear_index') }}">back to list</a>

    <a href="{{ path('bear_edit', {'id': bear.id}) }}">edit</a>

    {{ include('bear/_delete_form.html.twig') }}
{% endblock %}
